---
import Link from "@components/Link.astro"
import Logo from "@components/Logo.astro"
---

<header>
  <Logo />
  <div class="flex flex-wrap gap-y-2 justify-between">
    <nav class="flex gap-1">
      <Link href="/blog"> blog </Link>
      <span>{`/`}</span>
      <Link href="/projects"> projects </Link>
    </nav>
  </div>
</header>
